body {
    margin: 0px;
}

.main {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    size: 10px;
}

header {
    margin: 20px;
}

footer {
    margin: 20px;
}